/* 
 css/styles.css 
 Student Name: Leen Arafat
 Student Id: 12428865
*/

:root {
    --bg: #faf7f2;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
}

.site-header{
    background-color: #faf7f2;
    width: 100%; /*this is important so that the display work as expected*/
    position: fixed;
    top: 0;
    z-index: 10;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-header-item{
    text-decoration: none;
    color: #49a078;
    font-weight:800;
    margin-top: 5px;
    padding-bottom: 5px;
}

.site-header-item:nth-child(1) {
    margin-left: 10%;
    margin-right: 35%;
}
.site-header-item:nth-child(6) {
    margin-right: 10%;
}

.hero {
    background-image: url('../images/bg.jpg');
    margin-top: 40px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .btn1{
    background-color: #49a078;
    border-radius: 50px;
    align-items: center;
    padding: 7px;
    border: none;
}
.hero .btn2{
    background-color: #216869;
    border-radius: 50px;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    font-weight: 800;
    border: none;
    text-decoration: none;
}
.hero h1, .hero p {
    text-align: center;
    color: #ffffff;
}

.hero h1{
    font-weight: 800;
}

#about , #hours , #find-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#find-us{
    margin: 50px;
}
#about .box1, #about .box2 , #hours .box1 , #hours .box2 , #find-us .box1 , #find-us .box2{
    background-color: #ffffff;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    padding-left: 10px ;
    border: 2px solid #e9e3db;
    border-radius: 18px;
    width: 470px;
}
#about .box1, #about .box2 { height: 330px;}
#hours .box1 , #hours .box2{ height: 300px;}
#find-us .box1 , #find-us .box2 {height: 250px;}
#about h1, #about p{
    color: hwb(0 12% 88%);
}
#about .box1 .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#about .box1 button{
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #e9e3db ;
    border-radius: 50px;
}
#about .box1 button:nth-child(3){
    margin-right: 120px;
}
#about .secondp , #hours .secondp , #find-us .secondp{
    color: #6b6b6b;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#menu h1{ 
    margin-top: 35px;
    width: 960px;
    text-align: left;
    margin-bottom: -35px;
}
#menu .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
 #menu .box1 , #menu .box2 , #menu .box3{
    background-color: #ffffff;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    padding-left: 10px ;
    border: 2px solid #e9e3db;
    border-radius: 18px;
    width: 300px;
    height: 450px;
 }
 .type{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 1000;
 }
 .item{
    font-weight: bold;
    margin-bottom: 0px;
 }
 .components{
    margin-top: 0px;
    color: #6b6b6b;
 }
.price{
    font-weight: 1000;
    color: #49a078;
    margin-right: 20px;
}
 #menu .divider , #hours .divider{
    border-bottom: 2px dashed #e9e3db;
    width: 90%;
 }
 #hours .divider{
    margin: -8px;
    margin-left: 2px;
 }
 .first-item , .second-item , .third-item , .day{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
 }
 .tax-note{
    color: #6b6b6b;
    width: 960px;
    text-align: left;
    margin-bottom: 35px;
 }
 .time  {
    margin-right: 20px;
 }
 #hours h1{
    margin-top: 10px;
    margin-bottom: 0px;
 }
 #find-us .box2{
    background-image: url('../images/map.png');
    background-size:cover;
 }
 .footer-divider{
    border-bottom: 2px solid #e9e3db;
    width: 100%;
 }
 .site-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
 }
 .site-footer .info{
    color: #6b6b6b;
 }
 .site-footer .green-info{
    color:#49a078;
 }

.nav-hover { transition: 0.3s;}
.nav-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.cta { transition: 0.3s;}  /*cta : call to action*/
.cta:hover, .cta:focus {
  background-color: rgb(26, 231, 138);
  transform: scale(1.05);
}
.cta-header{ transition: 0.3s;}
.cta-header:hover , .cta-header:focus{
    color: darkgreen;
    transform: scale(1.05);
}

 @media  (max-width: 768px  ) {
    
    .site-header{
        background-color: #faf7f2;
        width: 100%; /*this is important so that the display work as expected*/
        position: fixed;
        top: 0;
        z-index: 10;
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .site-header-item:nth-child(1) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .site-header-item:nth-child(6) {
        margin-right: 0px;
    }

    #about , #hours , #find-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    #find-us{
        margin: 30px;
    }

    #about .box1, #about .box2 , #hours .box1 , #hours .box2 , #find-us .box1 , #find-us .box2 ,  #menu .box1 , #menu .box2 , #menu .box3{  
        width: 300px; /*since all boxes are now shown in one column , width will be unified for all */
        align-self: center;
    }
   #about .box1 {
    height: 420px; /*this box contains more items such as buttons , it needs more height in the phone screen */
   }
    #about .box1 button:nth-child(3){  /*don't delete this, margin is modefied*/
        margin-right: 20px;
    }

    #menu h1{  /*don't delete this, width is modefied*/
        margin-top: 35px;
        width: 300px;
        text-align: left;
        margin-bottom: -35px;
    }
    #menu .boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .tax-note{          /*don't delete this, width is modefied*/
        color: #6b6b6b;
        width: 300px;
        text-align: left;
        margin-bottom: 35px;
    }

 }